@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-sm;
  }

  pre {
    @apply border border-dashed border-black/30 rounded shadow-lg z-[2] relative;
  }

  code {
    font-family: var(--font-source-code) !important;
    @apply text-sm;
  }
}

@layer components {
  /* .up {
    @apply -translate-y-4 scale-125 text-white fill-white;
  } */
  .up::after {
    content: "";
    @apply size-[5px] rounded-full block bg-black absolute -bottom-2 left-1/2 -translate-x-1/2;
  }
  /* .title {
    content: attr(data-title);
    @apply block px-2 absolute left-1/2 -translate-x-1/2 -top-8 bg-black rounded-md text-[10px] shadow-md whitespace-nowrap;
  } */

  .center-component {
    @apply h-[96vh] w-full flex justify-center items-center bg-black;
  }

  .note {
    @apply underline underline-offset-2 hover:text-indie;
  }
  .pattern-boxes {
    background-color: #fdfdfd;
    background-image: linear-gradient(#f6f6f6 1px, transparent 1px),
      linear-gradient(to right, #f6f6f6 1px, #fdfdfd 1px);
    background-size: 20px 20px;
    position: relative;
  }

  .pattern-boxes::after {
    content: '';
    @apply bg-gradient-to-b from-white/50 to-white block w-full h-[50%] absolute bottom-0 z-[1] rounded-bl-md rounded-br-md;
  }

  /* sidebar */
  .mail-sidebar nav a {
    @apply text-gray-400 hover:text-white py-[10px] px-3 rounded-md hover:bg-gray-800 inline-block relative;
  }

  .mail-sidebar nav a.active {
    @apply text-white bg-gray-800;
  }

  .mail-sidebar nav a.active::after {
    @apply content-[""] absolute top-0 -right-[27px] block w-[4px] h-full bg-blue-600 rounded-md;
  }

  .mail-sidebar .nav-bottom a.logout {
    @apply text-rose-500;
  }
}
